.users{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}
.userItem{
    border: 1px solid #999999;
    border-radius: 10px;
    margin: 10px;
    flex-basis: auto;
    flex-grow: 1;
    box-shadow: 0px 0px 10px #cccccc;
    transition: all 0.2s;
    cursor: pointer;
    min-width: 170px;
    /*max-width: 200px;*/

}
.userItemLink{
    text-decoration: none;
    color: #000000;
}

.userPhoto{
    padding: 20px;
}
.userPhoto img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #cccccc;
    margin: 0px auto;
}


.info{
    background: #cccccc;
    padding: 10px 20px 10px 20px;
    border-radius: 0px 0px 9px 9px;
    transition: all 0.2s;
}
.userItem:hover{
    background: #f7f8ff;
    border: 1px solid #323bb3;
    box-shadow: 0px 0px 10px #6d6d6d;
}
.userItem:hover .info{
    background: #323bb3;
    color: white;
}
.userItem{
    position: relative;
    z-index: 90;
}
.userName{
    width: 166px;
    overflow-x: hidden;
    white-space: nowrap;
}


.userAddBtn{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
}
.addUser, .removeUser{
    background: #323bb3;
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    transition: all 0.2s;
    cursor: pointer;
    color: #ffffff;
    opacity: 0.3;
}
.removeUser{
    background: #990000;
}
.addUser:hover, .removeUser:hover{
    border-radius: 50%;
    opacity: 1;
}
.addUser:hover, .removeUser:hover{
    color: #ffffff;
}


.paginator{

}
.paginator span{
    display: inline-block;
    background: #424242;
    margin: 0px 5px 5px 0px;
    padding: 13px 0px 15px 0px;
    width: 50px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.paginator span.dots{
    background: none;
    margin: 0px 5px 5px 0px;
    width: 80px;
    color: black;
    cursor: auto;
}
.paginator span.dots:hover{
    background: none;
}
.paginator span:hover{
    background: #404ad0;
}
.paginator span.active{
    background: #323bb3;
    cursor: auto;
    box-shadow: 0px 0px 5px #000000;
}
