.contacts{
    text-align: center;
}
.contacts a{
    margin: 0px 10px 0px 0px;
}
.contacts img{
    width: 25px;
    height: 25px;
}
.contacts .disabled{
    margin: 0px 10px 0px 0px;
    cursor: auto;
    opacity: 0.1;
}
