body{
    background: #afafaf;
}
html, body, .root, .appWrapper{
    height: 100%;
}
.appWrapper{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 50px 1fr 50px;
}

.mainContainer{
    //max-width: 1000px;
    //margin: 0px auto;
    grid-area: main;
    padding: 20px;
    display: grid;
    grid-template-areas: "sidebar container";
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
}


.container{
    grid-area: container;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}


